<div class="IT-container container--state-main">
    <img class="image-text " src="{{ section.settings.imageText | img_url: '1500x' }}">
    <div class="right-container">
        <h1 class="heading heading--colour-black">Lorem ipsum dolor sit</h1>
        <p class="paragraph paragraph--state-bold">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam sapien sit amet nibh vestibulum, vel dictum eros imperdiet. Curabitur convallis urna eu.
        </p>
        <button class="CTA CTA--colour-blue">
            Discover the New Collection
        </button>
    </div>
</div>
  
  <style>
  
  </style>
  
  
  
  {% schema %}
    {
      "name": "Image and Text",
      "settings": [
       {
        "type": "image_picker",
        "id": "imageText",
        "label": "image to go with text"
      }
      ],
      "presets": [
          {
              "name": "Image and Text",
              "category": "Section"
          }
      ]
      
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}