<div class="product-region container--state-main">
    <h4>Lorem ipsum dolor sit</h4>
    <p class="paragraph paragraph--state-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam sapien sit amet nibh vestibulum, vel dictum eros imperdiet.</p>
    <div class="product-cards-container">
        <div class="card card--state-one">
            <span class="rectangle"></span>
            <div class="product-image"></div>
            <h5>Solution</h5>
            <p class="paragraph paragraph--state-product">Exfoliating skin perfector</p>
            <button class="button button--state-hover">Add to Bag<span class="line"></span>£15</button>
        </div>
        <div class="card card--state-two">
            <span class="rectangle"></span>
            <div class="product-image"></div>
            <h5>Retinol Youth Renewal Serum</h5>
            <p class="paragraph paragraph--state-product">Skin perfector</p>
            <button class="button button--state-hover">Add to Bag<span class="line"></span>£23</button>
        </div>
        <div class="card card--state-three">
            <span class="rectangle"></span>
            <div class="product-image"></div>
            <h5>Advanced Blemish</h5>
            <p class="paragraph paragraph--state-product">Exfoliating skin perfector plus</p>
            <button class="button button--state-hover">Add to Bag<span class="line"></span>£7</button>
        </div>
        <div class="card card--state-four">
            <span class="rectangle"></span>
            <div class="product-image"></div>
            <h5>The Lip Balm</h5>
            <p class="paragraph paragraph--state-product">Only lipstick you’ll ever need</p>
            <button class="button button--state-hover">Add to Bag<span class="line"></span>£18</button>
        </div>
    </div>
</div>
  
  <style>
  
  </style>
  
  
  
  {% schema %}
    {
      "name": "Product Region",
      "settings": [
       {
        "type": "image_picker",
        "id": "cardFirstImage",
        "label": " first product image"
      },
      {
        "type": "image_picker",
        "id": "cardSecondImage",
        "label": "second product image"
      },
      {
        "type": "image_picker",
        "id": "cardThirdImage",
        "label": "third product image"
      },
      {
        "type": "image_picker",
        "id": "cardFourthImage",
        "label": "fourth product image"
      }
      ],
      "presets": [
          {
              "name": "Product Region",
              "category": "Section"
          }
      ]
      
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}