html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  position: relative;
}
#MainContent {
	max-width: 1440px;
  margin: 0px auto;
}
h1,h2,h4,h5,p {
  font-family: Montserrat-Black;
}
h3, .paragraph--state-light {
  font-family: Montserrat-light;
}
h3 {
color: rgb(0, 0, 0);
font-size: 36px;
font-weight: 300;
letter-spacing: -0.68px;
}
.navigation {
  font-family: Montserrat-Bold;
  text-decoration: none;
}
.heading {
  font-weight: 900;
  text-transform: uppercase;
  line-height: 100px;
}
.heading--colour-white {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 106px;
  letter-spacing: -2px;
}
.heading--colour-black {
  margin: 0;
  color: rgb(40, 46, 52);
  font-size: 106px;
  letter-spacing: -2px;
}
.paragraph {
  margin: 0;
  font-size: 24px;
}
.paragraph--state-bold {
  width: 538px;
  height: 152px;
  color: rgb(0, 0, 0);
  font-weight: 900;
  letter-spacing: -0.96px;
  line-height: 38px;
}
.paragraph--state-light {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.72px;
  line-height: 30px;
}
.cta {
  position: absolute;
  width: 386px;
  height: 92px;
  background: rgb(255, 255, 255);
  border-radius: 0px;
  border-width: 0;

  font-size: 18px;
  font-family: Montserrat-Black;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.72px;
  &:hover {
    cursor: pointer;
  }
}
.cta--colour-white {
  top: 838px;
  right: 163px;
  color: rgb(255, 0, 0);

}
.cta--colour-blue { 
  color: rgb(255, 255, 255);
  background: rgb(122, 227, 244);
}
.container--state-main {
  width: 1325px;
  margin: 0 auto;
}
.card {
  position: relative;
  height: 556px;
  width: 320px;
  margin-right: 23px;
  .rectangle {
      position: absolute;
      top: -8px;
      left: -8px;
      width: 312px;
      height: 412px;
      border: 1px solid rgb(255, 0, 0);
      border-radius: 0px;
  }
  .product-image {
      position: absolute;
      z-index:1;
      height: 416px;
      width: 312px;
  }
  .card-bottom {
      position: absolute;
      bottom: 70px;
      h4 {
          width: 312px;
          color: rgb(0, 0, 0);
          font-size: 20px;
          font-family: Montserrat-Medium;
          font-weight: 500;
          letter-spacing: -0.8px;
          line-height: 11px;
          margin: 0;
      }
      .paragraph--state-product {
          width: 647px;
          color: rgb(0, 0, 0);
          font-size: 18px;
          font-family: Montserrat-Light;
          font-weight: 300;
          letter-spacing: -0.72px;
          line-height: 30px;
          margin-top: 5px;
      }
  }
  .button {
      position: absolute;
      bottom: 0;
      width: 312px;
      height: 60px;
      background: rgb(255, 255, 255);
      border:none;
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-family: Montserrat-Bold;
      font-weight: bold;
      letter-spacing: -0.64px;
      line-height: 11px;
      text-align: start;
      .line {
          display: inline-block;
          width: 150px;
          height: 1px;
          border: 1px solid rgb(151, 151, 151);
          background-color: rgb(151, 151, 151) ;
          margin: 0 9px 4px 13px;
          transition: width 0.5s
      }
      &:hover {
        background: rgb(40, 46, 52);
        text-align: center;
        color: white;
        .line {
          width: 29px;
          border: 1px solid rgb(255, 255, 255);
          margin: 0 15px 4px 9px;
        }
      }
  }
}


.button--state-hover {
  background: rgb(40, 46, 52);
  border-radius: 0px;
}
