
#MainContent {
	max-width: 1440px;
  margin: 0px auto;
}
h1,h2,h3,p {
  font-family: Montserrat-Black;
}
.navigation{
  font-family: Montserrat-Bold;
}
.heading {
  font-weight: 900;
  text-transform: uppercase;
  line-height: 100px;
}
.heading--colour-white{
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 106px;
  letter-spacing: -2px;
}
.heading--colour-black{
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 106px;
  letter-spacing: -2px;
}
.paragraph{
  margin: 0;
  font-size: 24px;
}
.paragraph--state-bold{
  width: 538px;
  height: 152px;
  padding: 171px 0 0 730px;
  color: rgb(0, 0, 0);
  font-weight: 900;
  letter-spacing: -0.96px;
  line-height: 38px;
}
.CTA{
  position: absolute;
  width: 386px;
  height: 92px;
  background: rgb(255, 255, 255);
  border-radius: 0px;
  border-width: 0;

  font-size: 18px;
  font-family: Montserrat-Black;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.72px;
}
.CTA--colour-white{
  bottom: 145px;
  right: 163px;
  color: rgb(255, 0, 0);

}
.CTA--colour-blue{ 
  color: rgb(255, 255, 255);
  background: rgb(122, 227, 244);
}