.hero-container {
  height: 1492px;
  width: 1440px;
}
.hero-top-flex {
  display: flex;
  position: relative;
  height: 1076px;
  width: 1440px;
}

.hero-left-container {
  height: 100%;
  .logo-social-container {
    position: absolute;
    top: 55px;
    left: 75px;
    width: 31px;
    .social-container {
      height: 99px;
      width: 100%;
      margin: 35px auto 0 auto;
      .social--state-menu {
        width: 20px;
        height: 19px;
        margin: 0 auto;
        &:first-of-type {
          margin: 0 auto 21px auto;
        }
        &:last-of-type {
          margin: 21px auto 0 auto;
        }
      }
    }
  }
  .hero-heading-container {
    position: absolute;
    z-index: 1;
    top: 735px;
    left: 115px;
    width: 739px;
    height: 300px;
  }
  .hero-first-image {
    height: 100%;
    width: 956px;
  }
}

.hero-right-container {
  height: 100%;
  width: 100%;
  background-color: #ff0051;
  .navigation-container {
    display: flex;
    position: absolute;
    top: 65px;
    right: 60px;
    width: 697px;
    height: 27px;
    .navigation {
      margin: auto auto;
      color: white;
      height: 16px;
      color: rgb(255, 255, 255);
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0.2px;
    }
    .shop {
      width: 41px;
      margin-left: 0;
      margin-right: 80px;
    }
    .collections {
      width: 99px;
      margin-right: 110px;
    }
    .account {
      width: 70px;
      margin-right: 75px;
    }  
    .search {
      height: 26px;
      width: 26px;
      margin-right: 80px;
    }
    .basket {
      height: 23px;
      width: 16px;
      margin-right: 73px;
    }
    .menu {
      height: 18px;
      width: 35px;
      margin-right: 0;
    }
  }  
  .hero-second-image {
    height: 462px;
    width: 370px;
    margin: 188px 0 0 57px;
    mix-blend-mode: lighten;
    opacity: 100%;
  }
}

.hero-bottom-container {
  position: relative;
  height: 416px;
  width: 1440px;
  .hero-third-image {
    position: absolute;
    height: 490px;
    width: 386px;
    left: 212px;
    bottom: 0;
  }
  .paragraph--state-bold {
    padding: 171px 0 0 730px;
  }
}


